<div class="form-div">
  <div class="form-content">
    <h3 class="form-header">New data</h3>
    <form class="form-container" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label class="form-label"> Title :</label>
        <input type="text" formControlName="title">
        @if (!myForm.controls.title.valid && myForm.controls.title.touched) {
          <div> Title is required </div>
        }
      </div>
      <div class="form-control">
        <label class="form-label"> Description : </label>
        <input type="text" formControlName="description">
        @if (!myForm.controls.description.valid && myForm.controls.description.touched) {
          <div> Description is required </div>
        }
      </div>
      <div class="form-control">
        <label class="form-label"> Added On : </label>
        <input type="text" formControlName="addedOn">
       @if (!myForm.controls.addedOn.valid && myForm.controls.addedOn.touched) {
        Added On is required
       }
      </div>
      <button type="submit" class="submit" [disabled]="!myForm.valid">submit</button>
    </form>
  </div>
</div>