<div class="form-div">
    <div class="form-content">
<h3 class="form-header">New data </h3>
<form class="form-container" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label class="form-label"> Discription :</label>
        <input type="text" formControlName="discription">
        <div *ngIf="myForm.get('discription')?.invalid && myForm.get('discription')?.touched"> Name is required </div>
    </div>
    <div class="form-control">
        <label class="form-label"> AddedOn : </label>
        <input type="time" formControlName="time">
        <div *ngIf="myForm.get('time')?.invalid && myForm.get('time')?.touched"> Time is required</div>
    </div>
    <button type="submit" class="submit" [disabled]="myForm.invalid"> submit</button>
</form>
</div>
</div>