
<div class="search">
  <input  class="search-box" #searchInput
  [value]="searchItem()" 
  (input)="searchItem.set(searchInput.value)"
  type="text" 
  placeholder="Search by title or description" >
</div>

<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Discription </th>
            <th> AddedOn </th>
            <th> status</th>
        </tr>
    </thead>
    <tbody>
        @for (user of filteredUsers(); track user.id) {
        <tr>
            <td>{{user.title}}</td>
            <td>{{user.description}}</td>
            <td>{{user.addedOn}}</td>
            <td>
                <button (click)="Delete(user.id)">Delete</button>
                <button (click)="viewDetails(user.id)"> Details </button>
            </td>
        </tr>
        }
    </tbody>
</table>